<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create New Book</title>
</head>
<body>
<h2>Create New Book</h2>

<form th:object="${book}" th:action="@{/books/create}" method="post">
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" th:field="*{isbn}" required />
    <br/>

    <label for="tittle">Title:</label>
    <input type="text" id="tittle" name="tittle" th:field="*{tittle}" required />
    <br/>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" th:field="*{author}" required />
    <br/>

    <label for="description">Author:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required />
    <br/>

    <button type="submit">Save</button>
</form>

<a href="list.html">Back to Book List</a>
</body>
</html>
